:root {
    --button-top-color: red;
    --button-shadow-color: darkred;
    --button-base-color: gray;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .self-destruct {
    border: 0;
    display: block;
    background-color: transparent;
  }
  
  .self-destruct:focus {
    outline: none;
  }
  
  .top {
    display: block;
    background-color: var(--button-top-color);
    width: 15rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    top: 0;
    transition: top 0.3s;
  }
  
  .middle {
    display: block;
    background-color: var(--button-shadow-color);
    width: 15rem;
    height: 9rem;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: border-radius 0.3s;
    top: 4.5rem;
  }
  
  .bottom {
    display: block;
    background-color: var(--button-base-color);
    width: 17rem;
    height: 10rem;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 0;
    border-radius: 50%;
    top: 5rem;
  }
  
  .self-destruct:active .top {
    top: 3rem;
  }
  
  .self-destruct:active .middle {
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
  }
  