* {
    margin: 0px;
    text-align: center;
}

body {
    background-image: url("/image/fondo.png");
    background-size: cover;
    background-position: center;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    body {
      background-image: url("/image/fondo.png");
    }
  }
  
  @media screen and (max-width: 480px) {
    body {
      background-image: url("/image/fondo.png");
    }
  }
  

/* Media Queries */
@media screen and (max-width: 768px) {
  body {
    background-image: url("/image/fondo.png");
  }
}

@media screen and (max-width: 480px) {
  body {
    background-image: urlurl("/image/fondo.png");
  }
}



.vara {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #fb0000;
    margin: auto;
    position: relative;
    top: 10px;
    z-index: 1000;

}


img {
    z-index: 100;
    transition: all 5s;
    width: 600px; /* Cambiar el ancho de la imagen a tu gusto */

}

#premio {
    color: rgb(255, 255, 255);
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
    padding: 20px;
}



