* {
    margin: 0px;
    text-align: center;
}

body {
    background:#ffffff;
}

.vara {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #fb0000;
    margin: auto;
    position: relative;
    top: 10px;
    z-index: 1000;

}


img {
    z-index: 100;
    transition: all 5s;
}

#premio {
    color: rgb(0, 0, 0);
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
    padding: 20px;
}

