* {
    margin: 0px;
    text-align: center;
}

body {
    background-image: url("https://itaas.com.co/juego-ruleta/image/fondo.png");
    background-size: cover;
    background-position: center;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    body {
      background-image: url("https://itaas.com.co/juego-ruleta/image/fondo.png");
    }
  }
  
  @media screen and (max-width: 480px) {
    body {
      background-image: url("https://itaas.com.co/juego-ruleta/image/fondo.png");
    }
  }
  

/* Media Queries */
@media screen and (max-width: 768px) {
  body {
    background-image: url("https://itaas.com.co/juego-ruleta/image/fondo.png");
  }
}

@media screen and (max-width: 480px) {
  body {
    background-image: urlurl("https://itaas.com.co/juego-ruleta/image/fondo.png");
  }
}



.vara {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #fb0000;
    margin: auto;
    position: relative;
    top: 10px;
    z-index: 1000;

}


img {
    z-index: 100;
    transition: all 5s;
    width: 600px; /* Cambiar el ancho de la imagen a tu gusto */

}

#premio {
  color: rgb(0, 0, 0);
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
  padding: 10px;
 
  background-color: white;
  border-radius: 5px; 

}


.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (change this value as needed) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





